<div class="login-container container-fluid">
  <div class="bg"></div>

  <div class="jumbotron splash text-center">
    <br />
    <br />
    <br /> <!-- lazy centering -->

    <h1>Recipe Book</h1>
    <p class="lead">Welcome to it</p>
  </div>

  <div class="row">

    <div class="col-xs-12 text-center sign-in">
      <div class="col-xs-12 text-center">

        <!-- Regular Log In -->
        <div ng-if="!recover">
          <h1>Sign in to your account</h1>
          <input type="text" class="form-control" placeholder="Email" ng-model='credentials.email'>
          <br />
          <input type="password" class="form-control" placeholder="Password" ng-model='credentials.password'>
          <br />
          <!-- Remember Me checkbox - hacky formatting since it's not wrapper in form tag -->
          <div class='form-group form-inline'>
            <label>
              <input type="checkbox" class='form-control' ng-model='credentials.remember_me'>
              Remember Me
            </label>
          </div>
          <br>
          <!--  -->
          <button class="btn btn-primary" ng-click="login(); updatePage()">We missed you!</button>
          <br>
          <a href class='pull-right' ng-click="toggleRecover()">Forgot your password?</a>
        </div>


        <!-- Reset password -->
        <div ng-if="recover">
          <h1>Enter email to have your password reset</h1>
          <input type="text" class="form-control" placeholder="Email" ng-model='credentials.email'>
          <br />
          <button class="btn btn-primary" ng-click="resetPassword()">Reset Password</button>
          <br>
          <a href class='pull-right' ng-click="toggleRecover()">Back to Log In</a>
        </div>

      </div>
    </div>


  </div>

</div>
