<div class='jumbotron'>

  <div class="row">

    <div name="harold" class="col-xs-4">
      <img ng-src="{{profile.avatar}}" class="img-responsive">

      <form name='avatarForm' ng-submit="updateProfile()">
        <input type="file" name="avatar" onchange="angular.element(this).scope().uploadFile(this.files)">
      </form>

    </div>

    <div name="profile-info" class="col-xs-8" ng-if="currentUserID == currentProfileID">
      <h2 class="text-center">
        <a href="#" editable-text="profile.first_name" onaftersave="updateProfile()">{{ profile.first_name }} </a>
        <a href="#" editable-text="profile.last_name" onaftersave="updateProfile()">{{ profile.last_name }}</a>
      </h2>

      <br />

      <p class="location">
        <strong>From: </strong><a href="#" editable-text="profile.location" onaftersave="updateProfile()">{{ profile.location }}</a>
      </p>

      <br />

      <p class="recipe-count"><strong>Number of recipes: </strong> {{ recipes.length }}</p>
      <button type="button" class="btn btn-primary pull-right" ng-click="deleteAccount(); removeAcct()">Delete account?</button>
    </div>

    <div name="profile-info" class="col-xs-8" ng-if="currentUserID != currentProfileID">
      <h2 class="text-center">{{ profile.first_name }} {{ profile.last_name }}</h2>
      <br />
      <p class="location"><strong>From: </strong>{{ profile.location }}</p>
      <br />
      <p class="recipe-count"><strong>Number of recipes: </strong> {{ recipes.length }}</p>
      <div id="follow-button">
        <button type="button" class="btn btn-primary pull-right" ng-click="follow(profile.user_id)" ng-if="alreadyFollowed">Follow</button>
      </div>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-xs-4">
    <p ng-if="currentUser.id == currentProfileID">
      <a href ng-click="newRecipe()">+ Add a recipe</a>
    </p>

    <label>Search: <input ng-model="filterText"></label>
  </div>

  <div class="col-xs-4 text-center">
    <h1>{{ profile.first_name }}'s Recipes</h1>
    <br />
    <br />
  </div>

  <div class="col-xs-4">
    <p class="pull-right">
      <a href ng-click="setViewMode('thumbnail')">thumbnail</a>
      <a href ng-click="setViewMode('list')">list</a>
    </p>

    <br />

    <div class="row">
      <div class="col-xs-12">
        <p class="pull-right">
          <strong>Sort by:</strong>

          <a href ng-click="sortType = 'title'; sortReverse = !sortReverse">title</a>
          <a href ng-click="sortType = 'author'; sortReverse = !sortReverse">author</a>
          <a href ng-click="sortType = 'origin'; sortReverse = !sortReverse">origin</a>
          <a href ng-click="sortType = 'difficulty'; sortReverse = !sortReverse">difficulty</a>
          <a href ng-click="sortType = 'rating'; sortReverse = !sortReverse">rating</a>
        </p>
      </div>
    </div>
  </div>

</div>

<div ng-if="viewMode == 'thumbnail'" class="row recipes">

  <div ng-repeat="recipe in recipes | filter:filterText | orderBy:sortType:sortReverse" class="item">

    <div class="well">
      <div class="recipe-img">
        <img class="img-responsive" ng-src="{{ recipe.photo_url }}">
        <a href="/#/recipes/{{recipe.id}}" class="btn btn-primary view">view</a>
        <a href class="btn btn-primary add">add to my book</a>
      </div>

      <p><strong>{{ recipe.title }}</strong> by {{ recipe.author }}</p>
      <p>ADD RECIPE ORIGIN ATTRIBUTE HERE!</p>
      <p>Difficulty - length - rating</p>
    </div>
  </div>

</div>

<div ng-if="viewMode == 'list'" class="row">

  <div class="col-xs-12">
    <table>
    	<tr>
    		<th><a href ng-click="sortType = 'title'; sortReverse = !sortReverse">Title</a></th>
    		<th><a href ng-click="sortType = 'author'; sortReverse = !sortReverse">Author</a></th>
        <th><a href ng-click="sortType = 'origin'; sortReverse = !sortReverse">Origin</a></th>
        <th><a href ng-click="sortType = 'difficulty'; sortReverse = !sortReverse">Difficulty</a></th>
    		<th><a href ng-click="sortType = 'rating'; sortReverse = !sortReverse">Rating</a></th>
    	</tr>
    	<tr ng-repeat="recipe in recipes | orderBy:sortType:sortReverse">
    		<td>{{ recipe.title }}</td>
    		<td>{{ recipe.author }}</td>
        <td>{{ recipe.origin }}</td>
        <td>{{ recipe.difficulty }}</td>
    		<td>★★★★★</td>
    	</tr>
    </table>
  </div>

</div>
