<div class='jumbotron'>

  <div class="row">

    <div name="harold" class="col-xs-4">
      <img src="https://cldup.com/QiXfZQ31vQ.jpg" class="img-responsive">
    </div>

    <div name="profile-info" class="col-xs-8" ng-if="$scope.currentUser.id == $stateParams.userId">
      <h2 class="text-center"><a href="#" editable-text="profile.first_name" onaftersave="updateProfile()">{{ profile.first_name }}</a> {{ profile.last_name }}</h2>
      <br />
      <p class="location"><strong>From: </strong>{{ profile.location }}</p>
      <br />
      <p class="recipe-count"><strong>Number of recipes: </strong> {{ recipes.length }}</p>
    </div>

    <div name="profile-info" class="col-xs-8" ng-if="$scope.currentUser.id != $stateParams.userId">
      <h2 class="text-center">{{ profile.first_name }} {{ profile.last_name }}</h2>
      <br />
      <p class="location"><strong>From: </strong>{{ profile.location }}</p>
      <br />
      <p class="recipe-count"><strong>Number of recipes: </strong> {{ recipes.length }}</p>
    </div>

  </div>

</div>

<div class="row">

  <div class="col-xs-3">
    <p ng-if="$scope.currentUser.id == $stateParams.userId">
      <a href="/#/recipes/new">+ Add a recipe</a>
    </p>
  </div>

  <div class="col-xs-6">
    <h1 class="text-center">{{ profile.first_name }}'s Recipes</h1>
    <br />
  </div>

  <div class="col-xs-3">
    <p class="pull-right" ng-if="$scope.currentUser.id == $stateParams.userId">
      <a href="#" ng-click="viewMode = 'thumbnail'">thumbnail</a>
      <a href="#" ng-click="viewMode = 'list'">list</a>
    </p>
  </div>

</div>

<div ng-if="viewMode == 'thumbnail'" class="row">

  <div ng-repeat="recipe in recipes" class="col-xs-3 text-center">

    <div class="recipe-image">
      <img class="img-responsive" src="{{ recipe.photo_url }}">
      <button class="btn btn-primary view">view</button>
      <button class="btn btn-primary add">add to my book</button>
    </div>

    <p><strong>{{ recipe.title }}</strong> by {{ recipe.author }}</p>
    <p>ADD RECIPE ORIGIN ATTRIBUTE HERE!</p>
    <p>Difficulty - length - rating</p>
  </div>

</div>

<div ng-if="viewMode == 'list'" class="row">

  <div class="col-xs-12">
    <table>
    	<tr>
    		<th>Title</th>
    		<th>Author</th>
        <th>Origin</th>
        <th>Difficulty</th>
    		<th>Rating</th>
    	</tr>
    	<tr ng-repeat="recipe in recipes">
    		<td>{{ recipe.title }}</td>
    		<td>{{ recipe.author }}</td>
        <td>{{ recipe.origin }}</td>
        <td>{{ recipe.difficulty }}</td>
    		<td>★★★★★</td>
    	</tr>
    </table>
  </div>

</div>
