// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *:before, *:after {box-sizing:  border-box !important;}

input[type='file'] {
  color: transparent;
}

img.recipe-img {
  width: 100%;
  height: auto;
}

.date-taken, .username, .likes, .comments {
  color: rgb(189, 189, 189);
}

.row.recipes {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.well {
 position:relative;
 display: block;
}

.tags-list {
  display: inline;
}

.tag {
  border: 1px solid black;
  text-align: center;
}

div.recipe-img {
  position: relative;
  float:left;
  margin:5px;
}

div.recipe-img img {
  min-width: 225px;
  min-height: 225px;
  object-fit: fill;
}

div.recipe-img:hover img{
  opacity:0.5;
}

div.recipe-img:hover .btn {
  display: block;
}

div.recipe-img .btn {
  position:absolute;
  display:none;
}

div.recipe-img .btn.view {
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
}

div.recipe-img .btn.add {
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
}
