<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h3 class="modal-title">
          <!-- <div click-to-edit="card.title" id='card.id' model="cards" attribute="title"></div> -->
          Modal works!
        </h3>

      </div>


      <div class="modal-body">

        <div class="modal-body-section">
          <p>
            {{ testVal }}
            <!-- <div click-to-edit="card.description" id='card.id' model="cards" attribute="description"></div> -->
          </p>
        </div>



      </div>


      <div class="modal-footer">
        <!-- <button type="button" ng-click="close('Completed')" class="btn btn-primary" data-dismiss="modal">Mark Completed</button> -->
      </div>

    </div>
  </div>
</div>