<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>

        <p class="modal-title">
          title
        </p>

      </div>


      <div class="modal-body">

        <div class="modal-body-section">
          <h4>Users</h4>

          <div>
            <select class="form-control" ng-model="selectedUser">
              <option ng-repeat="user in allFollowing" value="{{user.id}}">{{ user.profile.first_name }} {{ user.profile.last_name }}</option>
            </select>
            <button type="button" ng-click="shareRecipe()" class="btn btn-primary text-right" data-dismiss="modal">Share recipe</button>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
