<div class='row text-center'>

  <div class='col-sm-8'>
    <h2>{{ recipe.title }}</h2>
    <h3>{{ recipe.author }}</h3>
    <h3>Source, description, etc</h3>
  </div>

  <div class='col-sm-4'>
    <img src="https://placeholdit.imgix.net/~text?txtsize=30&txt=320%C3%97320&w=320&h=320" class='img img-responsive'>
  </div>

</div>



<div class='row'>

  <div class='col-sm-8'>
    <h4>Directions</h4>
    <p>And the directions go here</p>
  </div>

  <div class='col-sm-4'>
    <h4>Ingredients</h4>
    <ul>
      <li>Ingredient One</li>
      <li>Ingredient Two</li>
      <li>Ingredient Three</li>
    </ul>
  </div>

</div>