<main id='recipe'>

  <div class='recipe-controls'>

    <div class='row control-buttons'>

      <div class='col-xs-6 pull-left' ng-hide='scraperActive || owner == false'>
        <button class='btn btn-primary' ng-click="toggleScraper()">
          Import URL
        </button>
      </div>

      <div class='col-xs-6 pull-right text-right'>
        <button class='btn' ng-click='printRecipe()'>
          <span class='glyphicon glyphicon-print'></span>
        </button>

        <button class='btn btn-danger' ng-click='deleteRecipe()' ng-if='owner'>
          <span class='glyphicon glyphicon-trash'></span>
        </button>

      </div>
    </div>


    <div class='row' ng-show="owner && scraperActive">

      <form name='scraper' class='form-horizontal' ng-submit='submitScrape()'>

        <div class='col-xs-10'>
          <div class='form-group'>
            <input type="text" placeholder='Enter a URL to import...' class='form-control' ng-model='scraper.url'>
          </div>
        </div>

        <div class='col-xs-2'>
          <input type="submit" class='btn btn-block btn-primary' value='Import!'>
        </div>

      </form>

      <div class='col-xs-12'>
        <a href ng-click='toggleScraper()'>Cancel</a>
      </div>

    </div>

  </div>


  <div ng-if='owner'>


    <div class='row text-center'>

      <div class='col-sm-8'>
        <h2 class='edit-field' editable-textarea='recipe.title' e-rows="1" e-cols="60" onaftersave='updateRecipe()'>{{ recipe.title }}</h2>
        <h3 editable-textarea='recipe.author' e-rows="1" e-cols="40" onaftersave='updateRecipe()'>{{ recipe.author }}</h3>
        <p editable-textarea='recipe.description' e-rows="4" e-cols="90"  onaftersave='updateRecipe()'>{{ recipe.description }}</p>
      </div>

      <div class='col-sm-4'>
        <img ng-src="{{ recipe.photo_url }}" class='img img-responsive'>
      </div>

    </div>



    <div class='row'>

      <div class='col-sm-8'>

        <h4>Directions</h4>

        <p ng-repeat='instruction in recipe.instructions' ng-mouseenter='showAddNote(instruction)' ng-mouseleave='hideAddNotes()'>
          <span editable-textarea='instruction.body' e-rows="4" onaftersave='updateRecipe()'>
            {{ instruction.body }}
          </span>

          <a href ng-if='instruction.notes.length > 0' ng-click="openModal(instruction, 'Instruction')">
            {{ noteCount(instruction) }}
          </a>
          <a href ng-if='instruction.notes.length == 0 && isHovered(instruction)' ng-click="openModal(instruction, 'Instruction')">
            + add a note
          </a>
        </p>

      </div>


      <div class='col-sm-4'>

        <h4>Ingredients</h4>

        <table class='table table-condensed'>
          <tr ng-repeat='ingredient in recipe.ingredients' ng-mouseenter='showAddNote(ingredient)' ng-mouseleave='hideAddNotes()'>
            <td editable-textarea='ingredient.body' e-rows="2" onaftersave='updateRecipe()'>{{ ingredient.body }}</td>
            <td>
              <a href ng-if='ingredient.notes.length > 0' ng-click="openModal(ingredient, 'Ingredient')" title='{{ noteCount(ingredient) }}'>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
              <a href data-add-note='ingredient.id' ng-if='ingredient.notes.length == 0 && isHovered(ingredient)' ng-click="openModal(ingredient, 'Ingredient')" title='add a note'>
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </table>

      </div>

    </div>


  </div>




  <div ng-if='owner == false'>


    <div class='row text-center'>

      <div class='col-sm-8'>
        <h2>{{ recipe.title }}</h2>
        <h3>{{ recipe.author }}</h3>
        <p>{{ recipe.description }}</p>
      </div>

      <div class='col-sm-4'>
        <img ng-src="{{ recipe.photo_url }}" class='img img-responsive'>
      </div>

    </div>



    <div class='row'>

      <div class='col-sm-8'>
        <h4>Directions</h4>
        <p ng-repeat='instruction in recipe.instructions'>
          <span>
            {{ instruction.body }}
          </span>

          <a href ng-if='instruction.notes.length > 0' ng-click="openModal(instruction, 'Instruction')">
            {{ noteCount(instruction) }}
          </a>
        </p>
      </div>

      <div class='col-sm-4'>
        <h4>Ingredients</h4>

        <table class='table table-condensed'>
          <tr ng-repeat='ingredient in recipe.ingredients'>
            <td>{{ ingredient.body }}</td>
            <td>
              <a href ng-if='ingredient.notes.length > 0' ng-click="openModal(ingredient, 'Ingredient')" title='{{ noteCount(ingredient) }}'>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </table>

      </div>

    </div>


  </div>

</main>